/* language: CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 font-size:  calc(60% + 0.8vmin);

}
header {

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

nav a {
color: rgb(255, 255, 255);
text-decoration: none;
}


.headimg {
  margin: auto;
  max-height: 700px;
  max-width: 100%;
  min-width: 100%
}
.main {
  
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  color: #ffffff;
  font-size: 16px;
}

p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 75%;
  margin: auto;
}
.logo {
  width: 100%; /* set the maximum width */
  height: auto; /* set height to auto to maintain aspect ratio */
  max-width: 100px; /* set the maximum width */
}
.logo-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically, if needed */
}

/* Desktop menu */
.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu li {
  list-style: none;
}

.desktop-menu a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  text-align: left; /* added property */
  position: fixed; /* change to "fixed" */
  top: 0; /* add "top: 0" */
  left: 0;
  z-index: 999;
  width: 100%; /* add "width: 100%" */
  background-color: #ffffff;
}

#toggle-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  #toggle-menu:checked ~ ul {
    display: block;
  }

  #toggle-menu:checked + label {
    background-color: #ccc;
  }

  .mobile-menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left; /* added property */
  }

  .mobile-menu li {
    list-style: none;
    padding: 10px;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #000000;
    height: 50px; /* increase the height value to increase the height of the mobile menu bars */
    line-height: 50px; /* match the line-height with the height value to vertically center the text */
    padding: 0 20px; /* adjust the padding value as needed */
  }
}

footer a {
  color: #ffffff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color:midnightblue
  
}
/* default style for all screen sizes */
.footertext {
  display: flex; /* set the container to use flexbox layout */
  flex-direction: row; /* set the direction of the flex items to be horizontal */
  justify-content: center; /* center the items horizontally */
  gap: 10px;
  list-style-type: none;
}

/* apply vertical layout for screens smaller than 768px */
@media (max-width: 767px) {
  .footertext {
    flex-direction: column; /* set the direction of the flex items to be vertical */
    align-items: center; /* center the items vertically */
    gap: 10px;
  }
}

.contactus {
  background-color: midnightblue; 

}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Css for grid gallery */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid {
  display: block;
  text-align: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.footersection {
  width: 100%;
  position: relative;
  background-color: midnightblue; 
}
/*Tester Form CSS*/
#title-Tag-Line {
  font-size: 20px;
}
/* .card-item__bg{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  margin: 30px auto;
  transform: translate(0px, 50px);
  z-index: 5;
} */

/* form animation starts */
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: white;
}
.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #0e3721;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 
